<h1>
  <% if @poll %>
    Comments for <%= link_to @poll.title, poll_path(@poll) %>
  <% else %>
    Most recent comments
  <% end %>
</h1>

<% @comments.each do |comment| %>
  <div>
    <div>
      <strong>
        <% unless @poll %>
          Comment for <%= comment.poll.title %>
        <% end %>

        by <%= comment.user.username %>
        
        at <%= comment.created_at.localtime %>
      </strong>
    </div>

    <div class="comment">
      <%= comment.comment %>
    </div>
  </div>
<% end %>
