<h1>
  <% if @poll %>
    Comments for <%= link_to @poll.title, poll_path(@poll) %>
  <% else %>
    Most recent comments
  <% end %>
</h1>

<% @comments.each do |comment| %>
  <div class="comment">
    <div>
      <strong>
        <% unless @poll %>
          Comment for <%= comment.poll.title %>
        <% end %>
        <span class="by">by <%= comment.user.username %></span>
        
        <span class="time">at <%= comment.created_at.localtime.strftime "%c" %></span>
      </strong>
    </div>

    <div class="comment_content">
      <%= comment.comment %>
    </div>
  </div>
<% end %>
