<div>
  <div> new poll </div>
</div>

<style>
li {background-color: #0f0;}
</style>
<button id="new_question">new question</button>

<%= form_for @poll do |f| %>
title
  <%= f.text_field :title, :id => 'title' %>
description
  <%= f.text_area :description, :id => 'description' %>

<ol id="questions">
</ol>
<div style="clear:both;"></div>
  <%= f.submit %>
<% end %>

<div id="question_template" style="display:none">
  <li style="background-color:#f00;">
  <input name='question' type="text" value="Question?" />
  <ol>
    <li><input name='answer' type="text" value="Answer" /></li>
    <li><input name='answer' type="text" value="Answer" /></li>
    <li><input name='answer' type="text" value="Answer" /></li>
    <li><input name='answer' type="text" value="Answer" /></li>
  </ol>
</li>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
var template = jQuery('#question_template').html();

var jQuestions = jQuery('#questions');
var addQuestion = function(){
  jQuestions.append(template);
  jQuestions.find('ol:last-child').sortable();
};

addQuestion();
addQuestion();

jQuery('#questions').sortable({axis: 'y', tolerance: 'pointer'});
jQuery('#new_question').click(function(evt){addQuestion();return false;});
jQuery('form').submit(function(evt){
  evt.preventDefault();
  var poll = {};
  poll.title = jQuery('#title').val();
  poll.description = jQuery('#description').val();
  poll.questions = [];
  jQuery('#questions>li').each(function(idx, elem){
    var question = {};
    question.question = jQuery(elem).find('>input').val();
    question.answers = [];
    jQuery(elem).find('li>input').each(function(idx, elem) {
      question.answers.push(jQuery(elem).val());
    });
    poll.questions.push(question);
  });
  console.log('%o', poll);
  var path = '<%= polls_path.html_safe %>';
  jQuery.post(path, poll, function(data, textStatus, jqXHR){
    window.location=path;
  });
});

});

</script>
