Poll
<style>
.answer_list {
  list-style-type: lower-alpha;
}
</style>

<div>
<div>
title: <%= @poll.title %>
</div>
<div>
description: <%= @poll.description %>
</div>
<div>
created by: <%= @poll.creator.username %>
</div>
</div>
<%= link_to 'comments', poll_comments_path(@poll) %>
<%= link_to 'comment on this poll', new_poll_comment_path(@poll) %>

<%= render :partial => 'results', :locals => {:poll => @poll} %>

<%= form_tag vote_poll_path @poll do %>
<ol>
  <% @poll.questions.each do |question| %>
    <li>
      <%= question.question %>
      <ol class="answer_list">
        <% question.answers.each do |answer| %>
          <li>
            <% id = "#{question.id}_#{answer.id}" %>
            <%= radio_button_tag "question[#{question.id}]", answer.id, false, :id => id %>
            <%= label_tag id, answer.answer %>
          </li>
        <% end %>
      </ol>
    </li>
  <% end %>
</ol>
<%= submit_tag %>
<% end %>

