<!DOCTYPE html>
<html>
<head>
  <title>Polls (BETA)</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

<div>
  <% if current_user %>
    Welcome, <%= current_user.username %>
    <%= link_to 'logout', destroy_user_session_path %>
    <%= link_to 'comments', comments_path %>
    <%= link_to 'most commented', most_commented_polls_path %>
  <% else %>
    You are not logged in
      <%= form_for("user", :url => user_session_path) do |f| %>
      username
        <%= f.text_field :username %>
      password
        <%= f.password_field :password %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
        <%= f.submit 'Sign in' %>
      <% end %>
  <% end %>
</div> 

<div>
  <%= link_to 'new poll', new_poll_path %>
</div>
<div>
  <%= link_to 'polls', polls_path %>
</div>

<div>
  <b>online now</b>
  <ul>
    <% @logged_in_usernames.each do |u| %>
      <li> <%= u %> </li>
    <% end %>
  </ul>
</div>


<hr />
<%= yield %>

</body>
</html>
